#category_content {
    padding: 0px;
}
.breadcrumb {
    font-size: .750rem;
    margin-bottom: 2rem;
    margin-top: 0;
}
p.breadcrumb {
    margin-bottom: 0px;
}
.breadcrumb a {
    color: #71757f;
}
h1 {
    font-size: 1.825rem;
    line-height: 1.825rem;
    color: #71757f;
    font-family: "CiscoSansTTExtraLight","HelveticaNeue-Light","Helvetica Neue Light",HelveticaNeueLight,HelveticaNeue,Helvetica,Arial,"Nimbus Sans L",sans-serif;
    font-weight: normal;
    margin-top: 0px;
    margin: .75rem 0;
}
ul.listings {
    font-size: 0;
    width: 100%;
    display: table;
}
ul.listings li {
    font-size: 14px;
    vertical-align: top;
    width: 100%;
    margin-bottom: 50px;
}
ul.listings li .listing_image img {
    width: 100%;
    height: auto;
}
ul.listings li h2, ul.listings li h2 a {
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: #71757f;
    font-family: "CiscoSansTTExtraLight","HelveticaNeue-Light","Helvetica Neue Light",HelveticaNeueLight,HelveticaNeue,Helvetica,Arial,"Nimbus Sans L",sans-serif;
    font-weight: normal;
    margin: .625rem 0;
}
.author_image {
    float: left;
}
.list_author {
    float: right;
    font-family: "CiscoSansTTRegular","HelveticaNeue-Light","Helvetica Neue Light",HelveticaNeueLight,HelveticaNeue,Helvetica,Arial,"Nimbus Sans L",sans-serif;
    font-size: .75rem;
    line-height: 1.5;
    padding-left: 10px;
}
.list_author a {
    text-decoration: none;
    color: #71757f;
}
.listing_image {
    margin-bottom: 2rem;
}
.list_cat {
    font-size: .75rem;
    color: #0096d6;
    font-family: "CiscoSansTTBold","HelveticaNeue-Light","Helvetica Neue Light",HelveticaNeueLight,HelveticaNeue,Helvetica,Arial,"Nimbus Sans L",sans-serif;
}
.author_image img {
    width: 40px;
    height: 40px;
}
.contributors {
    font-size: 0.75rem;
    color: #71757f;
}
a.post_link {
    display: block;
}
@media only screen and (min-width: 600px) {
    ul.listings li {
        width:48%;
        margin-right: 2%;
        display: inline-table;
        height: auto;
    }
}
@media only screen and (min-width: 768px) {
    ul.listings li {
        width:48%;
        margin-right: 2%;
    }
    ul.listings li .listing_image img {
        width: 100%;
        height: auto;
    }
    ul.listings li h2, ul.listings li h2 a {
        font-size: 1.25rem;
        line-height: 1.5rem;
        color: #71757f;
        font-family: "CiscoSansTTExtraLight","HelveticaNeue-Light","Helvetica Neue Light",HelveticaNeueLight,HelveticaNeue,Helvetica,Arial,"Nimbus Sans L",sans-serif;
        font-weight: normal;
        margin: .625rem 0;
    }
    .author_image {
        float: left;
    }
    .list_author {
        float: right;
        font-family: "CiscoSansTTRegular","HelveticaNeue-Light","Helvetica Neue Light",HelveticaNeueLight,HelveticaNeue,Helvetica,Arial,"Nimbus Sans L",sans-serif;
        font-size: .75em;
        line-height: 1.5;
        padding-left: 10px;
    }
    .list_author a {
        text-decoration: none;
        color: #71757f;
    }
    .listing_image {
        margin-bottom: 10px;
    }
}
@media only screen and (min-width: 960px) {
    ul.listings li {
        width:48%;
        margin-right: 2%;
    }
    ul.listings li .listing_image img {
        width: 100%;
        height: auto;
    }
    ul.listings li h2, ul.listings li h2 a {
        font-size: 1.25rem;
        line-height: 1.5rem;
        color: #71757f;
        font-family: "CiscoSansTTExtraLight","HelveticaNeue-Light","Helvetica Neue Light",HelveticaNeueLight,HelveticaNeue,Helvetica,Arial,"Nimbus Sans L",sans-serif;
        font-weight: normal;
        margin: .625rem 0;
    }
    .author_image {
        float: left;
    }
    .list_author {
        float: right;
        font-family: "CiscoSansTTRegular","HelveticaNeue-Light","Helvetica Neue Light",HelveticaNeueLight,HelveticaNeue,Helvetica,Arial,"Nimbus Sans L",sans-serif;
        font-size: .75rem;
    }
    .list_author a {
        text-decoration: none;
        color: #71757f;
    }
    .listing_image {
        margin-bottom: 10px;
    }
    ul.listings li {
    }
}
ul.tsm-tabs {
    margin: 0 0 -2px 0;
    overflow: hidden;
}
ul.tsm-tabs li {
    display: inline-block;
    margin: 0 10px 0 0;
}
ul.tsm-tabs li a {
    display: block;
    color: #58585b;
    padding: 10px 0;
    font-size: 13px;
    border: none;
    border-bottom: 0 none;
    text-decoration: none;
    outline: none;
    font-family: "CiscoSansTTRegular","HelveticaNeue-Light","Helvetica Neue Light",HelveticaNeueLight,HelveticaNeue,Helvetica,Arial,"Nimbus Sans L",sans-serif;
}
ul.tsm-tabs a:hover {
    color: #0072a3;
    border-bottom: 3px solid #0072a3;
}
ul.tsm-tabs li.ui-tabs-active a {
    background: #fff;
    padding-bottom: 12px;
    border-bottom: 3px solid #0096d6;
    color: #0096d6;
    font-family: "CiscoSansTTBold","HelveticaNeue-Light","Helvetica Neue Light",HelveticaNeueLight,HelveticaNeue,Helvetica,Arial,"Nimbus Sans L",sans-serif;
}
ul.tsm-tabs li.ui-tabs-active a:hover {
    color: #58585b;
}
.tsm-tab-content {
    padding: 0px;
    padding-top: 20px;
    border: none;
    overflow: hidden;
}
/*normal layout*/
.results {
    margin-bottom: 2rem;
}
.breadcrumb a {
    color: #71757f;
}
ul#search_results {
    list-style: none;
    padding-bottom: 2rem;
    border-bottom: 1px solid #71757f;
    margin-bottom: 1.25rem;
}
ul#search_results li {
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-top: 1px solid #71757f;
}
.post_image {
    float: left;
    width: 32%;
}
.post_image img {
    width: 100%;
    height: auto;
}
.post_info {
    float: left;
    width: 65%;
    margin-left: 2%;
}
ul#search_results li h2 a {
    line-height: 1.25rem;
    font-family: "CiscoSansTTExtraLight","HelveticaNeue-Light","Helvetica Neue Light",HelveticaNeueLight,HelveticaNeue,Helvetica,Arial,"Nimbus Sans L",sans-serif;
    font-weight: normal;
    margin-top: 0px;
}
.pagination {
    margin: 0 auto;
    text-align: center;
    font-size: .875rem;
    margin-bottom: 2rem;
}
.pagination a, .pagination span.current {
    padding: 0 10px;
}
.pagination a.page_last {
    color: #0096d5;
    font-family: "CiscoSansTTBold","HelveticaNeue-Light","Helvetica Neue Light",HelveticaNeueLight,HelveticaNeue,Helvetica,Arial,"Nimbus Sans L",sans-serif;
}
.pagination span.current {
    color: #0096d5;
    padding-bottom: .25rem;
    border-bottom: 3px solid #0096d5;
    font-family: "CiscoSansTTBold","HelveticaNeue-Light","Helvetica Neue Light",HelveticaNeueLight,HelveticaNeue,Helvetica,Arial,"Nimbus Sans L",sans-serif;
}
.pagination a {
    color: #71757f;
}
@media only screen and (max-width: 599px) {
    .post_image {
        display:none;
    }
    .post_info {
        width: 100%;
        margin-left: 0;
    }
}
/*changed*/
ul.listings li ul.tagged {
    list-style: none;
    overflow: hidden;
}
/*changed*/
ul.listings li ul.tagged li {
    float: left;
    margin-right: 10px;
    margin-bottom: .625rem;
    padding-top: 18px;
    width: auto;
    height: auto;
}
/* changed */
a.post_tags {
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background-color: #f2f2f2;
    padding: 10px;
    color: #4a4a4a;
}
/* added */
.tags {
    font-size: 18px;
    font-weight: normal;
    margin: 5px 0 5px 0;
    font-family: CiscoSansTT;
    color: #4a4a4a;
}